<a href="https://colab.research.google.com/github/brunopazitto/Bootcamp-Machine-learning/blob/main/Desafio_modulo_3_IGTI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importando as bibliotecas que ser√£o utilizadas
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform
from scipy.stats import randint
from sklearn.metrics import f1_score, make_scorer

In [2]:
df = pd.read_csv('/content/phpOJxGL9.csv')

In [3]:
df.head()

   V1      V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65  Female   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62    Male  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62    Male   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58    Male   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72    Male   3.9  2.0  195  27   59  7.3  2.4  0.40      1

In [4]:
df.shape

(583, 11)

In [6]:
df.describe()

               V1          V3          V4  ...          V9         V10       Class
count  583.000000  583.000000  583.000000  ...  583.000000  583.000000  583.000000
mean    44.746141    3.298799    1.486106  ...    3.141852    0.947064    1.286449
std     16.189833    6.209522    2.808498  ...    0.795519    0.318492    0.452490
min      4.000000    0.400000    0.100000  ...    0.900000    0.300000    1.000000
25%     33.000000    0.800000    0.200000  ...    2.600000    0.700000    1.000000
50%     45.000000    1.000000    0.300000  ...    3.100000    0.947064    1.000000
75%     58.000000    2.600000    1.300000  ...    3.800000    1.100000    2.000000
max     90.000000   75.000000   19.700000  ...    5.500000    2.800000    2.000000

[8 rows x 10 columns]

In [7]:
name_to_class = {
  'Male' : 0,
  'Female' : 1
}

df['V2'] = df['V2'].map(name_to_class)

In [8]:
df.head()

   V1  V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65   1   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62   0  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62   0   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58   0   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72   0   3.9  2.0  195  27   59  7.3  2.4  0.40      1

In [9]:
labels = np.array(df['Class'])
df = df.drop('Class', axis = 1)
feature_list = list(df.columns)
data = np.array(df)

In [14]:
#definindo o tipo de validacao cruzada e o numero de folds
cv_strat = StratifiedKFold(n_splits = 10)

#definindo a estrategia de score a partir da metrica f1
f1 = make_scorer(f1_score)

#definindo hiperpar√¢metros
distributions = dict(kernel = ['sigmoid', 'rbf'], 
                     C  = uniform(loc=0, scale=10))

#inst√¢nciando meu classificador
classifier = SVC()

#instanciando e modelando o grid search com os hiperparametros e a valida√ß√£o definidas.
random_cv = RandomizedSearchCV(classifier, distributions,  cv = cv_strat, scoring = f1, random_state = 42, n_iter = 5)
random_cv.fit(data, labels)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
                   error_score=nan,
                   estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                                 class_weight=None, coef0=0.0,
                                 decision_function_shape='ovr', degree=3,
                                 gamma='scale', kernel='rbf', max_iter=-1,
                                 probability=False, random_state=None,
                                 shrinking=True, tol=0.001, verbose=False),
                   iid='deprecated', n_iter=5, n_jobs=None,
                   param_distributions={'C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f675fd8b358>,
                                        'kernel': ['sigmoid', 'rbf']},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=make_scorer(f1_score),
                   verbose=0)

In [17]:
print('Resumo de todos os resultados encontrados: \n\n', random_cv.cv_results_)
print('Melhor resultado F1', random_cv.best_score_)
print('\n\nMelhor configura√ß√£o de hiperpar√¢metros:', random_cv.best_params_)
print('\n\nConfigura√ß√µes de todos os hiperpar√¢metros do melhor estimado encontrado pelo GridSearch: \n', random_cv.best_estimator_)

Resumo de todos os resultados encontrados:

 {'mean_fit_time': array([0.00799108, 0.01234393, 0.00804656, 0.00825655, 0.01020947]), 'std_fit_time': array([0.00036813, 0.00151306, 0.00045263, 0.00077137, 0.00108379]), 'mean_score_time': array([0.00170243, 0.00189049, 0.00175972, 0.00161452, 0.00183406]), 'std_score_time': array([1.35556143e-04, 2.21168749e-04, 1.09452088e-04, 4.45778735e-05,
       1.67787308e-04]), 'param_C': masked_array(data=[3.745401188473625, 1.834347898661638,
                   5.986584841970366, 4.458327528535912,
                   0.5808361216819946],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_kernel': masked_array(data=['sigmoid', 'rbf', 'sigmoid', 'sigmoid', 'rbf'],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'C': 3.745401188473625, 'kernel': 'sigmoid'}, {'C': 1.834347898661638, 'kernel': 'rbf'}, {'C': 5.986584841970366, 'kernel': 'sigmoid'}, {'C': 4.458327528535912, 'kernel': 'sigmoid'}, {'C': 0.5808361216819946, 'kernel': 'rbf'}], 'split0_test_score': array([0.73563218, 0.83168317, 0.73563218, 0.73563218, 0.83168317]), 'split1_test_score': array([0.73809524, 0.83168317, 0.74074074, 0.72289157, 0.83168317]), 'split2_test_score': array([0.69767442, 0.83168317, 0.69767442, 0.69767442, 0.83168317]), 'split3_test_score': array([0.66666667, 0.84      , 0.66666667, 0.66666667, 0.84      ]), 'split4_test_score': array([0.73809524, 0.84      , 0.73809524, 0.73809524, 0.84      ]), 'split5_test_score': array([0.78571429, 0.84      , 0.78571429, 0.78571429, 0.84      ]), 'split6_test_score': array([0.74358974, 0.82828283, 0.74358974, 0.74358974, 0.82828283]), 'split7_test_score': array([0.65      , 0.82828283, 0.65      , 0.65      , 0.82828283]), 'split8_test_score': array([0.75862069, 0.82828283, 0.77272727, 0.75862069, 0.82828283]), 'split9_test_score': array([0.82222222, 0.82828283, 0.83146067, 0.83146067, 0.82828283]), 'mean_test_score': array([0.73363107, 0.83281808, 0.73623012, 0.73303455, 0.83281808]), 'std_test_score': array([0.04909159, 0.00490793, 0.05166157, 0.05090573, 0.00490793]), 'rank_test_score': array([4, 1, 3, 5, 1], dtype=int32)}
Melhor resultado F1 0.832818081808181


Melhor configura√ß√£o de hiperpar√¢metros: {'C': 1.834347898661638, 'kernel': 'rbf'}


Configura√ß√µes de todos os hiperpar√¢metros do melhor estimado encontrado pelo GridSearch:
 SVC(C=1.834347898661638, break_ties=False, cache_size=200, class_weight=None,
    coef0=0.0, decision_function_shape='ovr', degree=3, gamma='scale',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [19]:
#definindo o tipo de validacao cruzada e o numero de folds
cv_strat = StratifiedKFold(n_splits = 10)

#definindo a estrategia de score a partir da metrica f1
f1 = make_scorer(f1_score)

#definindo hiperpar√¢metros
distributions1 = dict(n_estimators = randint(100, 200),
                      bootstrap = [True, False],
                      criterion = ['gini', 'entropy'])

#inst√¢nciando meu classificador
classifier1 = RandomForestClassifier(random_state = 42)

#instanciando e modelando o grid search com os hiperparametros e a valida√ß√£o definidas.
random_cv1 = RandomizedSearchCV(classifier1, distributions1, cv = cv_strat, scoring = f1, random_state = 42, n_iter = 5)
random_cv1.fit(data, labels)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
                   error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_s...
                                                    random_state=42, verbose=0,
                                                    warm_start=False),
                   iid='deprecated', n_iter=5, n_jobs=None,
                   param_distributions={'bootstrap': [True, False],
                                        'criterion': ['gini', 'entropy'],
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f6757e747f0>},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=make_scorer(f1_score),
                   verbose=0)

In [20]:
print('Resumo de todos os resultados encontrados: \n\n', random_cv1.cv_results_)
print('Melhor resultado f1:', random_cv1.best_score_)
print('\n\nMelhor configura√ß√£o de hiperpar√¢metros:', random_cv1.best_params_)
print('\n\nConfigura√ß√µes de todos os hiperpar√¢metros do melhor estimado encontrado pelo GridSearc: \n', random_cv1.best_estimator_)

Resumo de todos os resultados encontrados:

 {'mean_fit_time': array([0.4422786 , 0.31876559, 0.34885142, 0.33181481, 0.37383161]), 'std_fit_time': array([0.00969804, 0.00681327, 0.02430976, 0.00968938, 0.00576846]), 'mean_score_time': array([0.01665919, 0.01482766, 0.01587675, 0.01489239, 0.01766486]), 'std_score_time': array([0.00057005, 0.00059111, 0.00089202, 0.0001606 , 0.00069558]), 'param_bootstrap': masked_array(data=[True, True, True, True, False],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_criterion': masked_array(data=['entropy', 'gini', 'gini', 'gini', 'gini'],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[192, 171, 182, 174, 199],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'bootstrap': True, 'criterion': 'entropy', 'n_estimators': 192}, {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 171}, {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 182}, {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 174}, {'bootstrap': False, 'criterion': 'gini', 'n_estimators': 199}], 'split0_test_score': array([0.82105263, 0.8172043 , 0.80434783, 0.8172043 , 0.79120879]), 'split1_test_score': array([0.80434783, 0.79569892, 0.79569892, 0.79569892, 0.80434783]), 'split2_test_score': array([0.80851064, 0.82105263, 0.82105263, 0.82105263, 0.82978723]), 'split3_test_score': array([0.8372093 , 0.87640449, 0.87640449, 0.87640449, 0.8372093 ]), 'split4_test_score': array([0.8       , 0.79069767, 0.79069767, 0.79069767, 0.75294118]), 'split5_test_score': array([0.7804878 , 0.79518072, 0.7804878 , 0.7804878 , 0.775     ]), 'split6_test_score': array([0.76923077, 0.76923077, 0.74358974, 0.75949367, 0.73684211]), 'split7_test_score': array([0.69767442, 0.70588235, 0.70588235, 0.70588235, 0.65853659]), 'split8_test_score': array([0.79120879, 0.79120879, 0.81318681, 0.8       , 0.81318681]), 'split9_test_score': array([0.8172043 , 0.83870968, 0.85106383, 0.83870968, 0.81318681]), 'mean_test_score': array([0.79269265, 0.80012703, 0.79824121, 0.79856315, 0.78122466]), 'std_test_score': array([0.03681898, 0.0425271 , 0.04645024, 0.04363404, 0.05102059]), 'rank_test_score': array([4, 1, 3, 2, 5], dtype=int32)}
Melhor resultado f1: 0.8001270339877683


Melhor configura√ß√£o de hiperpar√¢metros: {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 171}


Configura√ß√µes de todos os hiperpar√¢metros do melhor estimado encontrado pelo GridSearc:
 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=171,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)