<a href="https://colab.research.google.com/github/brunopazitto/Bootcamp-Machine-learning/blob/main/Trabalho_Pr%C3%A1tico_M%C3%B3dulo_3_ML_IGTI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalho prático unidade 3 BootCamp IGTI - Machine Learning 
Modelos de regresão linear 
Database diabetes_numeric.csv

by - Bruno Pazito da Silva

In [1]:
#Realizando a importação das bibliotecas que serão utilizadas durante o desenvolvimento trabalho.
import pandas as pd #Biblioteca para manipulação dos dados
import numpy as np # Biblioteca para utilização de vetores e matrizes
import matplotlib.pyplot as plt #Biblioteca para plotar gráficos
from sklearn.model_selection import train_test_split #importando a função train_test_split para dividir o modelo em teste e treinamento
from sklearn import metrics #Importando biblioteca para o calculo de métricas
from sklearn.linear_model import LinearRegression # importando modelo de regresão linear
from sklearn.svm import SVC #Importando modelo de SVM
from sklearn.cluster import KMeans #Importando modelo K-means

In [4]:
reg = pd.read_csv('/content/Cópia de diabetes_numeric.csv')
cla = pd.read_csv('/content/Cópia de bloodtransf.csv')
clu = pd.read_csv('/content/Cópia de wine.csv')

In [5]:
print('O df utilizado para o modelo de regressão possui:',reg.shape,'instâncias/atributos')
print('O df utilizado para o modelo de classificação possui:',cla.shape,'instâncias/atributos')
print('O df ulitizado para o modelo de cluster possui',clu.shape,'instâcias/atributos')
print('O df da base de clusterização possui 178 instâncias e ', clu['class'].unique(),'3 classes')

O df utilizado para o modelo de regressão possui: (43, 3) instâncias/atributos
O df utilizado para o modelo de classificação possui: (748, 5) instâncias/atributos
O df ulitizado para o modelo de cluster possui (178, 14) instâcias/atributos
O df da base de clusterização possui 178 instâncias e  [1 2 3] 3 classes

In [6]:
#Verificando os DF
reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        43 non-null     float64
 1   deficit    43 non-null     float64
 2   c_peptide  43 non-null     float64
dtypes: float64(3)
memory usage: 1.1 KB

In [8]:
cla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      748 non-null    int64
 1   V2      748 non-null    int64
 2   V3      748 non-null    int64
 3   V4      748 non-null    int64
 4   Class   748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [9]:
clu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   class                           178 non-null    int64
 1   Alcohol                         178 non-null    float64
 2   Malic_acid                      178 non-null    float64
 3   Ash                             178 non-null    float64
 4   Alcalinity_of_ash               178 non-null    float64
 5   Magnesium                       178 non-null    int64
 6   Total_phenols                   178 non-null    float64
 7   Flavanoids                      178 non-null    float64
 8   Nonflavanoid_phenols            178 non-null    float64
 9   Proanthocyanins                 178 non-null    float64
 10  Color_intensity                 178 non-null    float64
 11  Hue                             178 non-null    float64
 12  OD280%2FOD315_of_diluted_wines  178 non-null    float64
 13  Proline                         178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [10]:
reg.head()

    age  deficit  c_peptide
0   5.2     -8.1        4.8
1   8.8    -16.1        4.1
2  10.5     -0.9        5.2
3  10.6     -7.8        5.5
4  10.4    -29.0        5.0

In [11]:
#separando as variaves previsoras da variavel alvo
reg_atrib = reg[['age','deficit']]
reg_pred = reg['c_peptide']

In [12]:
#Realizando a criação do modelo de regressão linear e avaliando as métricas de avaliação.

#Aplicando a função train_test_split para separar o conjunto de treino e teste.
train_reg_atrib, test_reg_atrib, train_reg_pred, test_reg_pred = train_test_split(reg_atrib,reg_pred, test_size = 0.25, random_state = 42)

In [13]:
#treinando modelo de regressão linear
regression = LinearRegression().fit(train_reg_atrib,train_reg_pred)

In [14]:
#Aplicando o modelo treinado para a previsão de Peptideos em todo o conjunto de teste
previsao_atributos = regression.predict(test_reg_atrib)
#Exibindo Dataframe com valores reais e suas previsões
prev = pd.DataFrame({'Real': test_reg_pred, 'Previsto': previsao_atributos})
prev.head(10)

    Real  Previsto
37   6.0  5.256343
24   5.7  5.355738
25   5.1  5.118052
36   5.1  4.716996
34   3.9  4.348632
39   4.1  4.750498
4    5.0  4.056830
12   4.8  4.413207
8    5.6  4.656556
3    5.5  4.820646

In [15]:
#Avaliando o desempenho do modelo com algumas metricas
print('R2:', metrics.r2_score(test_reg_pred,previsao_atributos))
print('MAE:', metrics.mean_absolute_error(test_reg_pred,previsao_atributos))
print('MSE:', metrics.mean_squared_error(test_reg_pred,previsao_atributos))

R2: 0.21880597788432776
MAE: 0.6107422323514552
MSE: 0.4745269473181977

In [16]:
svm_df = cla
svm_df.head()

   V1  V2     V3  V4  Class
0   2  50  12500  98      2
1   0  13   3250  28      2
2   1  16   4000  35      2
3   2  20   5000  45      2
4   1  24   6000  77      1

In [17]:
svm_atrib=np.array(cla[['V1','V2','V3','V4']])
svm_pred=np.array(cla['Class'])

In [18]:
#Aplicando a função train_test_split para separar o conjunto de treino e teste.
train_svm_atrib, test_svm_atrib, train_svm_pred, test_svm_pred = train_test_split(svm_atrib,svm_pred, test_size = 0.25, random_state = 42)

In [19]:
#Realizando o treinamento do modelo de suporte vector machine(SVM) e avaliando as métricas de avaliação.
classifier = SVC(kernel='rbf')

classifier.fit(train_svm_atrib,train_svm_pred)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [20]:
#Exibindo os valores previstos e comparando com os valores reais
previsao2_atributos = classifier.predict(test_svm_atrib)

prev2 = pd.DataFrame({'Real': test_svm_pred, 'Previsto': previsao2_atributos})
prev2.head(10)

   Real  Previsto
0     1         1
1     1         1
2     1         1
3     1         1
4     1         1
5     1         1
6     1         1
7     1         1
8     1         1
9     1         1

In [21]:
print('Acurácia', metrics.accuracy_score(test_svm_pred,previsao2_atributos))
print('Precision', metrics.precision_score(test_svm_pred,previsao2_atributos))
print('Recall', metrics.recall_score(test_svm_pred,previsao2_atributos))
print('F1', metrics.f1_score(test_svm_pred,previsao2_atributos))
print('AUROC', metrics.roc_auc_score(test_svm_pred,previsao2_atributos))

Acurácia 0.7486631016042781
Precision 0.7473118279569892
Recall 1.0
F1 0.8553846153846154
AUROC 0.5104166666666666

In [22]:
clu.head()

   class  Alcohol  Malic_acid  ...   Hue  OD280%2FOD315_of_diluted_wines  Proline
0      1    14.23        1.71  ...  1.04                            3.92     1065
1      1    13.20        1.78  ...  1.05                            3.40     1050
2      1    13.16        2.36  ...  1.03                            3.17     1185
3      1    14.37        1.95  ...  0.86                            3.45     1480
4      1    13.24        2.59  ...  1.04                            2.93      735

[5 rows x 14 columns]

In [23]:
#Criando as classes de variaveis preditoras e a variavel alvo
y = np.array(clu['class'])
clu = clu.drop('class',axis=1)
X = np.array(clu)

X_train, X_test, y_test, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [24]:
clustering = KMeans(n_clusters=3, random_state= 42)

In [25]:
clustering.fit(X_train)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=42, tol=0.0001, verbose=0)

In [26]:
y_pred = clustering.predict(X_test)

In [27]:
p = pd.DataFrame({'Real': y_test, 'Previsto': y_pred})
p.head(10)

   Real  Previsto
0     1         2
1     1         0
2     3         1
3     1         0
4     2         1
5     1         0
6     2         1
7     3         2
8     2         2
9     3         2

In [34]:
#Avaliando modelo 
print('Coeficiente de silhueta', metrics.silhouette_score(X_test, y_pred))
print('Davies-bouldin Score', metrics.davies_bouldin_score(X_test, y_pred))
print('Mutual information', metrics.mutual_info_score(y_test, y_pred))

Coeficiente de silhueta 0.5519241838976592
Davies-bouldin Score 0.5415115100039721
Mutual information 0.526053317723497